<h1>About</h1>
<p>
The <a href="http://railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
is a <a href="http://railstutorial.org/book"><em>book</em> and 
<a href="http://screencast.railstutorial.org/"><em>screencast series</em></a>
to teach web development with 
<a href="http://railstutorial.org/">Ruby on Rails</a>.

This is a sample application for the Tutorial.
</p>
